.places__paragraph-container {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

@media screen and (max-width:590px) {
    .places__paragraph-container {
        max-width: calc(100% - 16px*2);
        margin: 0 auto;
    }
}