.places__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media screen and (max-width:590px) {
    .places__website {
        padding-left: 15px;
        padding-top: 4px;
    }
}